//Responsiveness Design
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
   *{
    overflow-x: hidden;
   }
    .hero{
        .carousel{
            .image{
                img{ 
                width: 100%;
                height: 230px;
                }
            }
            
        }
    }

    .about{
        h1{
            justify-content: center;
            font-size: 18px;
        }
        .left{
            p{
                width: 70%;
                text-align: center;
                margin-left: auto;
                margin-right: auto;
                font-size: 12px;
                padding: 15px;
            }
        }
        .right{
            img{
                display: none;
            }
        }
    }

    .container{
        height: 400px;
        margin-top: -50px;
        
        h1{
            font-size: 18px;
        }
        .cards{
            display: flex;
            flex-direction: column;
            .card{
                img{
                    height: 140px;
                    margin-left: auto;
                    margin-right: auto;
                }
                figcaption{
                    width: 70%;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        
    }
    }

    footer{
        .links{
            a{
                font-size: 12px;
            }
        }
        p{
            font-size: 12px;
        }
    }
}